<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />

<body>
	<div th:include="fragments :: header">?</div>

	<p><a th:target="_blank" th:href="@{/rest/test}">REST test</a></p>
	<p><a th:target="_blank" th:href="@{/swagger-ui.html#/}">Swagger</a></p>

	<noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="mainpane" id="root"></div>
    <script src="built/bundle.js"></script>
    
	<div th:include="fragments :: footer">?</div>
</body>

</html>