body {
    background: Black;
}

h1 {
    text-align: center;
}
h2, h3, h4, h5 {
    text-align: center;
}

.headerfooter {
    color: blue;
    font-family: "Courier New", Courier, monospace;
    font-size: 80%;
    text-align: center;
}
.headerfooterline {
    color: yellow;
}

.major_pane {
    background: white;
    border-style: solid;
    border-color: red;
    padding: 5px 5px 5px 5px;
}
