:root {
        --color-blueberry: #0019FE;
        --color-carrot: #F5911E;
        --color-deep-sea: #051A27;
        --color-dusk: #0B2B39;
        --color-ice: #F0F6FF;
        --color-lime: #C6FF3A;
        --color-ocean: #0080A9;
        --color-raspberry: #C91268;
        --color-sky: #10A4B3;   
}

body {
	background: DarkGrey;
}

h1 {
    text-align: center;
}
h2, h3, h4 {
    text-align: center;
}

.major_pane {
	border-style: solid;
    border-color: var(--color-lime);
    padding: 5px 5px 5px 5px;
}

.minor_pane {
    border-top: 1px dashed;
    border-color: var(--color-blueberry);
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    vertical-align: top;
}

.whiteBox {
    border: 4px solid DarkGray;
    background-color: white;        
    color: black;
    font-family: "Courier New", Courier, monospace;
}

.pane_separator {
        border-top: 1px dashed salmon;
}

.alertsOuterBox {
    font-family: monospace;
}
.alertsOutputBox {
    border: 4px solid black;
    overflow: scroll;
}

.dataOuterBox {
    font-family: monospace;
}
.dataOutputBox {
    overflow: scroll;       
}
.dataBlue {
        color: blue; 
}
.dataPurple {
        color: purple;
}

.membersOuterBox {
    font-family: monospace;
}
.membersOutputBox {
    overflow: scroll;       
}

.headerfooter {
	color: var(--color-raspberry);
	font-family: "Courier New", Courier, monospace;
	font-size: 80%;
	text-align: center;
}
.headerfooterline {
	color: var(--color-carrot);
}

