:root {
	--color-blueberry: #0019FE;
	--color-carrot: #F5911E;
	--color-deep-sea: #051A27;
	--color-dusk: #0B2B39;
	--color-ice: #F0F6FF;
	--color-lime: #C6FF3A;
	--color-ocean: #0080A9;
	--color-raspberry: #C91268;
	--color-sky: #10A4B3; 	
}

body {
	background: var(--site-background);
}

h1, h2 {
	text-align: center;
	color: var(--color-blueberry);
}

.whiteBox {
	border: 4px solid DarkGray;
	background-color: white;	
	color: black;
	font-family: "Courier New", Courier, monospace;
}

h3 {
	color: silver;
}

.headerfooter {
	text-align: center;
	color: var(--color-raspberry);
	font-family: "Courier New", Courier, monospace;
	font-size: 80%;
}
.headerfooterline {
	color: var(--color-carrot);
}

.major_pane {
	border-style: solid;
	border-color: var(--color-raspberry);
	padding: 5px 5px 5px 5px;
}

.minor_pane {
	border-top: 1px dashed;
	border-color: var(--color-raspberry);
	overflow-y: scroll;
	vertical-align: top;
}

.three_row_scrollbar {
	line-height: 1em;
	max-height: 5em;
	overflow-y: scroll;
}
.three_row_scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
}
.three_row_scrollbar::-webkit-scrollbar:vertical {
    width: 10px;
}
.three_row_scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid blue;
    background-color: rgba(255,0,0,0.5);
    color: var(--color-blueberry);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}
.three_row_scrollbar::-webkit-scrollbar-thumb:window-inactive {
    border-radius: 8px;
    border: 2px solid blue;
    background-color: rgba(255,0,0,0.8);
    color: var(--color-blueberry);
}
.three_row_scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: rgba(0,255,0,0.8);
    color: var(--color-carrot);
}
.three_row_scrollbar::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,255,0.8);
    color: var(--color-ocean);
}

